
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    height: 85vh;
    background-color: #1f2937;
    color: white;
}
.logo{
    font-size: 24px;
    color: #f9f4f8;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

#hero-image{
    display: block;
    background-color: #e5e7eb80;
    height: 200px;
    width: 500px;
    text-align: center;
    line-height: 200px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.sub-header{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 50px;
}

.title-content{
    width: 450px;
    height: 300px;
}

.title-content h1{
    font-size: 48px;
    font-weight: bold;
}

.title-content button{
    background-color: #3882f6;
    border-radius: 5px;
    padding: 7px 25px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* First section */

#first-section h1{
    text-align: center;
    font-weight: bold;
    color: #1f2937;
    font-size: 36px;
    padding-top: 30px;
}

.box-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
}
.box{
    width: 170px;
    height: 170px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.text-box{
    display: block;
    width: 175px;
    color: #777;
    text-align: center;
}

/* SECOND SECTION */

#second-section{
    background-color: #e5e7eb;
    height: 400px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-content{
    width: 60%;
}
.text-content :nth-child(1){
    font-size: 31px;
    font-style: italic;

}
.text-content :nth-child(2){
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}